/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  .left-nav,
  .right-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  }
  
  .nav-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 13px;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #f0f0f0;
  }
  
  .nav-input {
    padding: 6px;
    margin: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
   
  }