.sidebar-container {
   
    height: 100vh;
    position: relative;
  }
  
  .sidebar {
    width: 280px;
    height: 100%;
    background-image: url("https://picjj.com/images/2024/05/27/EjZLV.jpg");
    transition: transform 0.3s ease;
   background-position: center;
  }
  
  .hamburger-icon {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    cursor: pointer;
    color: white;
  }
  
  @media (max-width: 750px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 1000;
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  
    .hamburger-icon {
        color: black;
      display: block;
    }
  }
  